<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main.lua</string>
	</array>
	<key>ProjectID</key>
	<string>347AF75B-620F-4816-9957-2182D8AD0B9B</string>
	<key>Runtime Type</key>
	<string>modern</string>
	<key>Tint Color</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwbVSRudWxs2A0ODxAREhMU
	FRYWFxgZFhpfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRXVUlHcmVlblZVSUJsdWVXVUlB
	bHBoYVVOU1JHQlYkY2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiAAAAACI/gAAARTAg
	MCAwgAIQAtMcHR4fICJaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dVSUNv
	bG9yoh8hWE5TT2JqZWN0oSNXTlNDb2xvcgAIABEAGgAkACkAMgA3AEkATABRAFMAVwBd
	AG4AhgCOAJUAnQCjAKoAsAC9AL8AxADJAM8A0QDTANoA5QDuAPoBAgEFAQ4BEAAAAAAA
	AAIBAAAAAAAAACQAAAAAAAAAAAAAAAAAAAEY
	</data>
</dict>
</plist>
