<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main.lua</string>
	</array>
	<key>ProjectID</key>
	<string>E37DEF79-17D5-4767-BE85-3D95EEE3C0B3</string>
	<key>Runtime Type</key>
	<string>modern</string>
</dict>
</plist>
